<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    声明自己所需要的权限 相机-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Card"
        tools:targetApi="31">
        <activity
            android:name=".ui.Activity.LoginRegisterActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi">
        </activity>
        <activity
            android:name=".ui.Activity.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="sensor"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".ui.Activity.GameActivity"
            android:screenOrientation="sensor"
            android:theme="@style/FullScreenTheme"
            tools:ignore="DiscouragedApi" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.andriod.card.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>